@import url("normalize.css");
@import url("comments.css");
@import url("form.css");
@import url("flexslider.css");
/* @group Boilerplate Overrides
----------------------------------------------- */
a, a:active, a:visited {
  color: #607890; }

a:hover {
  color: #036; }

/* @end */
h2 {
  font-family: "futura-pt",sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em; }

h3 {
  font-family: "futura-pt",sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.3em; }

h4 {
  font-family: "futura-pt",sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #212121;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-shadow: 1px 1px 1px #ffffff;
  filter: dropshadow(color=white, offx=1, offy=1); }

.btn, .btn:visited {
  font-family: "futura-pt",sans-serif;
  font-style: normal;
  font-weight: 700;
  width: 240px;
  height: 61px;
  background: url(../images/big-btn.png) 0 0 no-repeat;
  padding: 30px 0 0 0; }
  .btn:hover, .btn:visited:hover {
    background: url(../images/big-btn.png) 0 -92px no-repeat;
    color: #fff; }
  .btn:active, .btn:visited:active {
    background: url(../images/big-btn.png) 0 -182px no-repeat;
    margin-top: 10px; }
    .btn:active a, .btn:visited:active a {
      padding: 0 0 0 5px; }
  .btn a, .btn a:visited, .btn:visited a, .btn:visited a:visited {
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    color: #fff;
    display: block; }

#work li.current-menu-item {
  background: url(../images/big-btn.png) 0 -182px no-repeat;
  color: #fff;
  margin-top: 10px; }
  #work li.current-menu-item a {
    padding: 0 0 0 5px; }

body {
  background: white url(../images/speckle.jpg) repeat; }

.container {
  width: 960px;
  margin: 0px auto; }

header {
  background: #fff;
  height: 90px;
  margin: 0 auto; }
  header img {
    margin: 20px 0 0 20px;
    float: left; }
  header nav {
    float: right;
    margin: 35px 0 0 0; }
    header nav ul li {
      display: inline;
      margin: 0 70px 0 0; }
      header nav ul li a, header nav ul li a:visited {
        font-family: "futura-pt",sans-serif;
        font-style: normal;
        font-weight: 700;
        color: #ff5e2e;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 0.2em; }
        header nav ul li a:hover, header nav ul li a:visited:hover {
          color: #000; }
      header nav ul li a.active {
        color: #000; }

.slider {
  height: 480px;
  width: 960px;
  margin: 0 auto; }
  .slider img {
    position: absolute;
    left: 0; }
  .slider .slide {
    position: absolute;
    right: 0;
    width: 480px;
    height: 480px;
    background: #1f1f1f; }
    .slider .slide h1 {
      font-family: "futura-pt",sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      padding-left: 80px;
      padding-right: 80px;
      margin: 150px 0 0 0; }
    .slider .slide h3 {
      text-align: center;
      color: #ff5e2e; }

.theme-default #slider {
  width: 960px;
  /* Make sure your images are the same size */
  height: 480px;
  /* Make sure your images are the same size */ }

#main .see-work-top p {
  font-family: "old-standard",serif;
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  color: #144057;
  line-height: 52px;
  letter-spacing: 2px; }
#main .see-work-top nav ul {
  width: 960px;
  height: 91px;
  margin-left: 38px;
  padding-top: 25px;
  margin-bottom: 67px; }
  #main .see-work-top nav ul li {
    float: left;
    list-style: none;
    margin-right: 66px; }
#main .featured-content {
  width: 960px;
  height: 480px; }
#main .work {
  clear: both;
  width: 960px;
  min-height: 480px;
  padding-bottom: 50px; }
#main .smallbox {
  width: 480px;
  height: 240px;
  float: left;
  z-index: 0;
  display: block; }
  #main .smallbox img {
    float: left; }
#main .largebox {
  width: 480px;
  height: 240px;
  float: left;
  display: block;
  text-decoration: none; }
  #main .largebox h2 {
    font-size: 24px;
    color: #fff;
    padding: 60px 30px 0 30px; }
#main .texture-1 {
  width: 480px;
  height: 240px;
  float: left;
  z-index: 1;
  margin: 0 0 0 -480px;
  text-decoration: none;
  background: url(../images/textures/texture-1.png) no-repeat; }
  #main .texture-1:hover {
    background: url(../images/textures/blue.png) no-repeat 240px 0; }
  #main .texture-1 h2 {
    width: 180px;
    float: right;
    text-align: center;
    color: #fff;
    padding: 90px 30px 0 0px;
    line-height: 18px; }
#main .texture-2 {
  width: 480px;
  height: 240px;
  float: left;
  z-index: 1;
  margin: 0 0 0 -480px;
  text-decoration: none;
  background: url(../images/textures/texture-2.png) no-repeat; }
  #main .texture-2:hover {
    background: url(../images/textures/orange.png) no-repeat 240px 0; }
  #main .texture-2 h2 {
    width: 180px;
    float: right;
    text-align: center;
    color: #fff;
    padding: 90px 30px 0 0px;
    line-height: 18px; }
#main .texture-3 {
  width: 480px;
  height: 240px;
  float: left;
  z-index: 1;
  margin: 0 0 0 -480px;
  text-decoration: none;
  background: url(../images/textures/texture-3.png) no-repeat; }
  #main .texture-3:hover {
    background: url(../images/textures/offwhite.png) no-repeat 240px 0; }
  #main .texture-3 h2 {
    width: 180px;
    float: right;
    text-align: center;
    color: #fff;
    padding: 90px 30px 0 0px;
    color: #ff5e2e;
    line-height: 18px; }
#main .texture-4 {
  width: 480px;
  height: 240px;
  float: left;
  z-index: 1;
  margin: 0 0 0 -480px;
  text-decoration: none;
  background: url(../images/textures/texture-5.png) no-repeat; }
  #main .texture-4:hover {
    background: url(../images/textures/blue.png) no-repeat 240px 0; }
  #main .texture-4 h2 {
    width: 180px;
    float: right;
    text-align: center;
    color: #fff;
    padding: 90px 30px 0 0px;
    line-height: 18px; }
#main .blue {
  background: #144057; }
#main .orange {
  background: #ff5e2e; }
  #main .orange:hover {
    background: #ff6e43; }
#main .white {
  background: #fff; }
#main .about h2 {
  background: url(../images/about-title-line.png) no-repeat 0 5px;
  margin-top: 50px;
  margin-bottom: 40px; }
#main .about p {
  margin: 0px;
  font-family: "old-standard",serif;
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  color: #144057;
  line-height: 52px; }
#main .contact {
  height: 39px;
  background: url(../images/contact-bg.png) no-repeat;
  margin: 40px 0 40px 0; }
  #main .contact p {
    font-family: "futura-pt",sans-serif;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    color: #144057;
    line-height: 38px;
    letter-spacing: 0.2em; }
    #main .contact p strong {
      font-family: "futura-pt",sans-serif;
      font-style: normal;
      font-weight: 700; }
    #main .contact p a {
      color: #ff5e2e;
      text-decoration: none; }
#main .social {
  height: 405px; }
  #main .social h2 {
    background: url(../images/social-title-line.png) no-repeat 0 5px; }
  #main .social .dribbble {
    width: 430px;
    height: 370px;
    float: left;
    background: url(../images/dribbble-bg.png) no-repeat;
    margin: 5px 0 35px 45px; }
  #main .social #dribbble {
    margin: 22px 0 0 15px; }
  #main .social .twitter-box {
    width: 430px;
    height: 370px;
    float: left;
    background: url(../images/twitter-bg.png) no-repeat;
    margin: 5px 0 35px 10px; }
    #main .social .twitter-box ul {
      padding: 1px 0 0 40px;
      font-family: "old-standard",serif;
      font-style: normal;
      font-weight: 400;
      color: #144057;
      font-size: 16px; }
      #main .social .twitter-box ul li {
        width: 350px;
        margin-top: 17px;
        list-style: none; }
        #main .social .twitter-box ul li .at, #main .social .twitter-box ul li a, #main .social .twitter-box ul li a:visited {
          color: #ff5e2e;
          text-decoration: none; }
        #main .social .twitter-box ul li .tweet_time {
          font-size: 10px; }
#main .furthermore {
  clear: both;
  margin-bottom: 50px; }
  #main .furthermore h2 {
    background: url(../images/furthermore-title-line.png) no-repeat 0 5px; }
#main .meet-greet-welcome {
  height: 480px;
  background: #1a1a1a; }
  #main .meet-greet-welcome div {
    width: 336px;
    margin: 0 auto;
    padding-top: 60px; }
  #main .meet-greet-welcome h2 {
    font-size: 275px;
    line-height: 1px;
    padding: 125px 0 0 0;
    margin: 0;
    font-family: "futura-pt",sans-serif;
    font-style: normal;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    text-shadow: 5px 5px 0px #ff5e2e;
    letter-spacing: normal; }
#main .reach-us {
  letter-spacing: 3px; }
  #main .reach-us h2 {
    background: url(../images/reachus-title-line.png) no-repeat 0 5px; }
  #main .reach-us p {
    margin: 0px; }
  #main .reach-us div {
    float: left;
    margin: 60px 0; }
    #main .reach-us div p {
      font-family: "futura-pt",sans-serif;
      font-style: normal;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 12px;
      line-height: 26px; }
      #main .reach-us div p span {
        margin: 0 0 0 30px;
        font-size: 24px;
        font-family: "old-standard",serif;
        font-style: normal;
        font-weight: 700;
        color: #144057;
        text-transform: none; }
  #main .reach-us ul {
    float: left;
    margin: 60px 0 60px 60px; }
    #main .reach-us ul li {
      list-style: none;
      font-family: "futura-pt",sans-serif;
      font-style: normal;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 12px;
      padding: 0;
      margin: 0; }
      #main .reach-us ul li a {
        color: #ff5e2e;
        font-family: "old-standard",serif;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        text-transform: none;
        text-decoration: none;
        margin: 0 0 0 30px; }
        #main .reach-us ul li a:hover {
          text-decoration: underline; }
#main .meet-the-press-man {
  clear: both;
  letter-spacing: 3px; }
  #main .meet-the-press-man h2 {
    background: url(../images/reachus-title-line.png) no-repeat 0 5px; }
  #main .meet-the-press-man div {
    width: 790px;
    height: 440px;
    margin: 0 auto;
    border: 1px solid #000;
    margin-top: 50px;
    background: #000; }
    #main .meet-the-press-man div img {
      float: left; }
    #main .meet-the-press-man div aside {
      width: 331px;
      float: left;
      margin: 50px 0 0 30px; }
      #main .meet-the-press-man div aside h3 {
        text-align: left;
        font-size: 16px; }
      #main .meet-the-press-man div aside h4 {
        font-family: "futura-pt",sans-serif;
        font-style: normal;
        font-weight: 700;
        text-align: left;
        color: #ff5e2e;
        text-shadow: none;
        font-size: 12px; }
      #main .meet-the-press-man div aside p {
        font-family: "old-standard",serif;
        font-style: normal;
        font-weight: 400;
        color: #fff;
        font-size: 14px;
        line-height: 22px;
        font-weight: bold;
        letter-spacing: 0.1em; }
#main .peek {
  clear: both;
  width: 965px;
  height: 1000px;
  position: relative;
  margin: 50px 0 0 0; }
  #main .peek h2 {
    background: url(../images/peek-title-line.png) no-repeat 0 5px; }
  #main .peek img {
    float: left; }
  #main .peek span {
    padding: 25px 35px;
    font-family: "futura-pt",sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    background: #000;
    position: absolute;
    letter-spacing: 0.2em; }
  #main .peek .first {
    top: 50px;
    left: 30%; }
  #main .peek .second {
    top: 530px;
    left: 15%; }
  #main .peek .last {
    top: 530px;
    right: 9%; }
#main .friends {
  clear: both;
  margin: 50px 0 75px 0;
  width: 960px;
  height: 250px; }
  #main .friends h2 {
    background: url(../images/our-friends.png) no-repeat 0 5px; }
  #main .friends ul {
    padding: 0;
    font-family: "old-standard",serif;
    font-style: normal;
    font-weight: 400;
    width: 890px;
    margin: 0 auto;
    margin-top: 25px; }
    #main .friends ul li {
      float: left;
      list-style: none;
      font-size: 21px;
      margin: 0 0 30px 30px;
      width: 250px;
      text-align: center; }
      #main .friends ul li a, #main .friends ul li a:visited {
        text-decoration: none; }
        #main .friends ul li a:hover, #main .friends ul li a:visited:hover {
          text-decoration: underline; }
#main .hirethepressman p:first-child {
  font-family: "old-standard",serif;
  font-style: normal;
  font-weight: 400;
  color: #144057;
  font-size: 34px;
  line-height: 52px; }
#main .hirethepressman .services {
  width: 960px;
  height: 690px;
  margin-top: 60px; }
  #main .hirethepressman .services h2 {
    background: url(../images/services-title-line.png) no-repeat 0 5px; }
  #main .hirethepressman .services a {
    text-decoration: none; }
  #main .hirethepressman .services div {
    width: 390px;
    height: 310px;
    float: left;
    margin: 0 10px 10px 0; }
    #main .hirethepressman .services div h3 {
      font-size: 40px;
      line-height: 42px;
      letter-spacing: 0; }
  #main .hirethepressman .services .blue {
    background: #144057;
    margin-top: 50px;
    margin-left: 85px; }
    #main .hirethepressman .services .blue h3 {
      margin-top: 100px; }
    #main .hirethepressman .services .blue:hover {
      background: #426577; }
  #main .hirethepressman .services .orange {
    margin-top: 50px;
    background: #ff5e2e; }
    #main .hirethepressman .services .orange h3 {
      margin-top: 80px; }
    #main .hirethepressman .services .orange:hover {
      background: #ff6e43; }
  #main .hirethepressman .services .white {
    border: 1px solid #d0d0d0;
    background: #fff;
    margin-left: 85px;
    width: 389px; }
    #main .hirethepressman .services .white h3 {
      margin-top: 100px;
      color: #144057; }
    #main .hirethepressman .services .white:hover {
      background: #eceff1; }
  #main .hirethepressman .services .black {
    background: #1f1f1f; }
    #main .hirethepressman .services .black h3 {
      margin-top: 80px; }
    #main .hirethepressman .services .black:hover {
      background: #363636; }
#main .hirethepressman .products-services {
  clear: both;
  width: 960px;
  height: 315px;
  margin: 80px 0 0 0; }
  #main .hirethepressman .products-services h2 {
    background: url(../images/products-title-line.png) no-repeat 0 5px; }
  #main .hirethepressman .products-services ul {
    width: 260px;
    height: 200px;
    padding: 0;
    margin: 50px 0 0 45px;
    float: left; }
    #main .hirethepressman .products-services ul li {
      list-style: none;
      color: #144057;
      margin: 0 0 30px 0;
      font-size: 21px;
      line-height: 15px;
      text-align: center;
      font-family: "old-standard",serif;
      font-style: normal;
      font-weight: 400; }
#main .hirethepressman .unusual {
  clear: both;
  width: 960px;
  padding: 20px 0 50px 0; }
  #main .hirethepressman .unusual h2 {
    background: url(../images/unusual-title-line.png) no-repeat 0 5px; }
  #main .hirethepressman .unusual p {
    font-size: 21px;
    line-height: 28px;
    color: #144057;
    font-family: "old-standard",serif;
    font-style: normal;
    font-weight: 400;
    padding: 0 125px; }
#main nav#services {
  width: 890px;
  height: 50px;
  margin: 0 0 50px 40px;
  padding-top: 50px; }
  #main nav#services ul li {
    float: left;
    margin: 0 30px 0 0; }
  #main nav#services ul .custom a, #main nav#services ul a:visited {
    display: block;
    font-family: "futura-pt",sans-serif;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    font-size: 14px;
    color: #fff;
    padding: 12px 0 0 0;
    text-decoration: none;
    width: 193px;
    height: 34px;
    background: url(../images/custom.png) no-repeat 0 0;
    text-transform: uppercase; }
    #main nav#services ul .custom a:hover, #main nav#services ul a:visited:hover {
      background: url(../images/custom.png) no-repeat 0 -47px; }
    #main nav#services ul .custom a:active, #main nav#services ul a:visited:active {
      background: url(../images/custom.png) no-repeat 0 -95px; }
  #main nav#services ul .pricing a, #main nav#services ul a:visited {
    display: block;
    font-family: "futura-pt",sans-serif;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    font-size: 14px;
    color: #fff;
    padding: 12px 0 0 0;
    text-decoration: none;
    width: 179px;
    height: 34px;
    text-transform: uppercase;
    background: url(../images/pricing.png) no-repeat 0 0; }
    #main nav#services ul .pricing a:hover, #main nav#services ul a:visited:hover {
      background: url(../images/pricing.png) no-repeat 0 -47px; }
    #main nav#services ul .pricing a:active, #main nav#services ul a:visited:active {
      background: url(../images/pricing.png) no-repeat 0 -95px; }
  #main nav#services ul .process a, #main nav#services ul a:visited {
    display: block;
    font-family: "futura-pt",sans-serif;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    font-size: 14px;
    color: #fff;
    padding: 12px 0 0 0;
    text-decoration: none;
    width: 245px;
    height: 34px;
    text-transform: uppercase;
    background: url(../images/process.png) no-repeat 0 0; }
    #main nav#services ul .process a:hover, #main nav#services ul a:visited:hover {
      background: url(../images/process.png) no-repeat 0 -47px; }
    #main nav#services ul .process a:active, #main nav#services ul a:visited:active {
      background: url(../images/process.png) no-repeat 0 -94px; }
  #main nav#services ul .wholesale a, #main nav#services ul a:visited {
    display: block;
    font-family: "futura-pt",sans-serif;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    font-size: 14px;
    color: #fff;
    padding: 12px 0 0 0;
    text-decoration: none;
    width: 143px;
    height: 34px;
    text-transform: uppercase;
    background: url(../images/wholesale.png) no-repeat 0 0; }
    #main nav#services ul .wholesale a:hover, #main nav#services ul a:visited:hover {
      background: url(../images/wholesale.png) no-repeat 0 -48px; }
    #main nav#services ul .wholesale a:active, #main nav#services ul a:visited:active {
      background: url(../images/wholesale.png) no-repeat 0 -95px; }
#main nav#services-white {
  width: 890px;
  height: 50px;
  margin: 0 0 50px 40px;
  padding-top: 50px; }
  #main nav#services-white ul li {
    float: left;
    margin: 0 30px 0 0; }
  #main nav#services-white ul .custom a, #main nav#services-white ul a:visited {
    display: block;
    font-family: "futura-pt",sans-serif;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    font-size: 14px;
    color: #fff;
    padding: 12px 0 0 0;
    text-decoration: none;
    width: 193px;
    height: 33px;
    background: url(../images/custom-white.png) no-repeat 0 0;
    text-transform: uppercase; }
    #main nav#services-white ul .custom a:hover, #main nav#services-white ul a:visited:hover {
      background: url(../images/custom-white.png) no-repeat 0 -48px; }
    #main nav#services-white ul .custom a:active, #main nav#services-white ul a:visited:active {
      background: url(../images/custom-white.png) no-repeat 0 -95px; }
  #main nav#services-white ul .pricing a, #main nav#services-white ul a:visited {
    display: block;
    font-family: "futura-pt",sans-serif;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    font-size: 14px;
    color: #fff;
    padding: 12px 0 0 0;
    text-decoration: none;
    width: 179px;
    height: 34px;
    text-transform: uppercase;
    background: url(../images/pricing-white.png) no-repeat 0 0; }
    #main nav#services-white ul .pricing a:hover, #main nav#services-white ul a:visited:hover {
      background: url(../images/pricing-white.png) no-repeat 0 -47px; }
    #main nav#services-white ul .pricing a:active, #main nav#services-white ul a:visited:active {
      background: url(../images/pricing-white.png) no-repeat 0 -95px; }
  #main nav#services-white ul .process a, #main nav#services-white ul a:visited {
    display: block;
    font-family: "futura-pt",sans-serif;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    font-size: 14px;
    color: #fff;
    padding: 12px 0 0 0;
    text-decoration: none;
    width: 245px;
    height: 34px;
    text-transform: uppercase;
    background: url(../images/process-white.png) no-repeat 0 0; }
    #main nav#services-white ul .process a:hover, #main nav#services-white ul a:visited:hover {
      background: url(../images/process-white.png) no-repeat 0 -47px; }
    #main nav#services-white ul .process a:active, #main nav#services-white ul a:visited:active {
      background: url(../images/process-white.png) no-repeat 0 -94px; }
  #main nav#services-white ul .wholesale a, #main nav#services-white ul a:visited {
    display: block;
    font-family: "futura-pt",sans-serif;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    font-size: 14px;
    color: #fff;
    padding: 12px 0 0 0;
    text-decoration: none;
    width: 143px;
    height: 34px;
    text-transform: uppercase;
    background: url(../images/wholesale.png) no-repeat 0 -95px; }
    #main nav#services-white ul .wholesale a:hover, #main nav#services-white ul a:visited:hover {
      background: url(../images/wholesale.png) no-repeat 0 -48px; }
    #main nav#services-white ul .wholesale a:active, #main nav#services-white ul a:visited:active {
      background: url(../images/wholesale.png) no-repeat 0 -95px; }
#main .capabilities {
  background: #000;
  padding: 0 0 100px 0; }
  #main .capabilities .what-we-do {
    clear: both;
    width: 790px;
    margin: 50px 0 0 0;
    margin: 0 auto;
    background: #fff; }
    #main .capabilities .what-we-do h3 {
      font-size: 36px;
      text-align: center;
      color: #262626;
      letter-spacing: 0.2em;
      text-shadow: 2px 1px 1px #ff5e2e;
      padding: 50px 0 50px 0; }
    #main .capabilities .what-we-do h2 {
      background: url(../images/process-title-line.png) no-repeat 75px 0px; }
    #main .capabilities .what-we-do p {
      font-size: 21px;
      color: #144057;
      font-family: "old-standard",serif;
      font-style: normal;
      font-weight: 400;
      padding: 50px 80px 50px 80px; }
    #main .capabilities .what-we-do img {
      padding: 50px 0 50px 0; }
    #main .capabilities .what-we-do .capabilities-list {
      padding: 0 0 50px 0; }
      #main .capabilities .what-we-do .capabilities-list h4 {
        color: #ff5e2e;
        text-align: left;
        padding: 0 50px;
        margin: 0;
        letter-spacing: 0.2em; }
      #main .capabilities .what-we-do .capabilities-list p {
        padding: 0 50px;
        margin: 0; }
#main .custom-quotes {
  background: url(../images/lines-bg.jpg) repeat;
  padding: 0 0 100px 0; }
  #main .custom-quotes .quote-form {
    clear: both;
    width: 790px;
    margin: 25px 0 0 0;
    margin: 0 auto;
    background: #144057; }
    #main .custom-quotes .quote-form h3 {
      font-size: 36px;
      text-align: center;
      color: #fff;
      letter-spacing: 0.2em;
      text-shadow: 2px 1px 1px #ff5e2e;
      padding: 50px 0 50px 0; }
    #main .custom-quotes .quote-form h4 {
      clear: both;
      text-align: left;
      color: #fff;
      text-shadow: none; }
    #main .custom-quotes .quote-form form {
      width: 718px;
      padding: 0 0 40px 0;
      margin: 0 0 0 30px; }
      #main .custom-quotes .quote-form form .radio {
        height: 25px;
        width: 19px;
        float: left;
        margin: 0 0 3px;
        padding: 0 0 0 26px;
        background: url("radio.png");
        background-repeat: no-repeat;
        cursor: default; }
      #main .custom-quotes .quote-form form label {
        font-family: "old-standard",serif;
        font-style: normal;
        font-weight: 400;
        color: #fff;
        font-size: 21px;
        float: left;
        padding: 0 55px 60px 10px; }
      #main .custom-quotes .quote-form form input[type="text"], #main .custom-quotes .quote-form form input[type="email"] {
        width: 270px;
        font-family: "old-standard",serif;
        font-style: normal;
        font-weight: 400;
        border-radius: 0;
        margin: 5px 0 0 0;
        background: #e6e6e6; }
      #main .custom-quotes .quote-form form textarea {
        width: 510px;
        height: 240px;
        background: #e6e6e6;
        font-family: "old-standard",serif;
        font-style: normal;
        font-weight: 400; }
      #main .custom-quotes .quote-form form input[type="submit"] {
        width: 95px;
        height: 37px;
        background: url(../images/submit-btn.png) no-repeat 0 0;
        font-family: "futura-pt",sans-serif;
        font-style: normal;
        font-weight: 700;
        color: #fff;
        text-align: center;
        border: none; }
        #main .custom-quotes .quote-form form input[type="submit"]:hover {
          background: url(../images/submit-btn.png) no-repeat 0 -38px; }
        #main .custom-quotes .quote-form form input[type="submit"]:active {
          background: url(../images/submit-btn.png) no-repeat 0 -76px; }
#main .wholesale-ordering {
  background: url(../images/wholesale-bg.jpg) repeat;
  padding: 0 0 100px 0; }
  #main .wholesale-ordering section {
    width: 790px;
    margin: 0 auto;
    background: #fff;
    padding: 0 0 50px 0; }
    #main .wholesale-ordering section h3 {
      font-size: 40px;
      color: #000;
      letter-spacing: 0.2em;
      text-shadow: 2px 2px 1px #ff5e2e;
      padding-top: 50px; }
    #main .wholesale-ordering section h2 {
      background: url(../images/talk-line.png) no-repeat center 0; }
    #main .wholesale-ordering section img {
      margin: 50px 0 50px 80px; }
    #main .wholesale-ordering section p {
      padding: 0 80px 0 80px;
      font-family: "old-standard",serif;
      font-style: normal;
      font-weight: 400;
      color: #144057;
      font-size: 21px;
      line-height: 28px;
      margin: 0 0 20px 0; }
    #main .wholesale-ordering section h4 {
      text-align: left;
      padding: 0 80px 0 80px;
      color: #ff5e2e;
      margin: 0; }
    #main .wholesale-ordering section ul {
      padding: 50px 0 0 80px;
      float: left;
      width: 278px;
      height: 390px; }
      #main .wholesale-ordering section ul li {
        list-style: none;
        font-family: "futura-pt",sans-serif;
        font-style: normal;
        font-weight: 700;
        color: #ff5e2e;
        font-size: 12px;
        text-transform: uppercase; }
        #main .wholesale-ordering section ul li a, #main .wholesale-ordering section ul li a:visited {
          font-family: "old-standard",serif;
          font-style: normal;
          font-weight: 400;
          color: #144057;
          text-decoration: none;
          font-size: 21px;
          line-height: 28px;
          text-transform: none; }
          #main .wholesale-ordering section ul li a:hover, #main .wholesale-ordering section ul li a:visited:hover {
            text-decoration: underline; }
#main .pricing-faq {
  background: url(../images/pricing-bg.jpg) repeat;
  padding: 0 0 100px 0; }
  #main .pricing-faq section {
    width: 790px;
    margin: 0 auto;
    background: #fff;
    padding: 0 0 50px 0; }
    #main .pricing-faq section p {
      padding: 0 80px 0 80px;
      font-family: "old-standard",serif;
      font-style: normal;
      font-weight: 400;
      color: #144057;
      font-size: 21px;
      line-height: 28px;
      margin: 0 0 20px 0; }
    #main .pricing-faq section h2 {
      background: url(../images/pricing-title-line.png) no-repeat center 0;
      margin-bottom: 25px; }
    #main .pricing-faq section h3 {
      font-size: 40px;
      color: #000;
      letter-spacing: 0.2em;
      text-shadow: 2px 2px 1px #ff5e2e;
      padding-top: 50px; }
    #main .pricing-faq section article h5 {
      font-family: "old-standard",serif;
      font-style: normal;
      font-weight: 700;
      color: #144057;
      padding: 0 80px 0 80px;
      font-size: 21px;
      margin: 0; }
    #main .pricing-faq section article p {
      font-family: "old-standard",serif;
      font-style: normal;
      font-weight: 400;
      font-style: italic;
      color: #144057;
      padding: 0 80px 0 80px;
      font-size: 21px; }
#main .single {
  min-height: 1300px;
  border-bottom: 1px solid #000;
  margin-bottom: 20px; }
  #main .single img {
    margin-bottom: 10px;
    float: left; }
  #main .single aside {
    min-height: 1300px;
    float: right;
    width: 266px;
    border-left: 1px solid #000; }
    #main .single aside span.prev a {
      display: block;
      width: 29px;
      height: 32px;
      background: url(../images/next-btn.png) no-repeat 0 0;
      text-indent: -9999px;
      float: left;
      margin-left: 30px;
      margin-right: 10px; }
      #main .single aside span.prev a:hover {
        background: url(../images/next-btn.png) no-repeat 0 -33px; }
    #main .single aside span.next a {
      display: block;
      width: 29px;
      height: 32px;
      background: url(../images/next-btn.png) no-repeat -30px 0;
      text-indent: -9999px;
      float: left; }
      #main .single aside span.next a:hover {
        background: url(../images/next-btn.png) no-repeat -30px -33px; }
    #main .single aside div {
      margin-right: 10px;
      font-family: "futura-pt",sans-serif;
      font-style: normal;
      font-weight: 700;
      width: 150px;
      height: 32px;
      background: #000;
      text-align: center;
      color: #fff;
      font-size: 12px;
      text-transform: uppercase;
      line-height: 30px;
      float: left; }
    #main .single aside h3 {
      font-family: "old-standard",serif;
      font-style: normal;
      font-weight: 400;
      font-size: 36px;
      line-height: 48px;
      color: #144057;
      text-align: left;
      text-transform: none;
      letter-spacing: 0em;
      padding-left: 35px; }
    #main .single aside h2 {
      background: url(../images/lowdown-title-line.png) no-repeat 20px -2px;
      font-size: 10px;
      color: #212121;
      margin-left: 15px;
      padding-left: 25px; }
    #main .single aside p {
      color: #144057;
      font-family: "old-standard",serif;
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 22px;
      padding-left: 30px; }
    #main .single aside #tweet-button {
      display: block;
      float: left;
      width: 59px;
      height: 25px;
      margin-top: 10px;
      margin-left: 60px;
      background: url(../images/tweet.png) no-repeat 0 0;
      text-indent: -999999px; }
      #main .single aside #tweet-button:hover {
        background: url(../images/tweet.png) no-repeat 0 -26px; }
      #main .single aside #tweet-button:active {
        background: url(../images/tweet.png) no-repeat 0 -51px; }
      #main .single aside #tweet-button a {
        display: block; }
    #main .single aside #facebook-button {
      display: block;
      float: left;
      width: 51px;
      height: 25px;
      margin-top: 10px;
      margin-left: 5px;
      background: url(../images/facebook.png) no-repeat 0 0; }
      #main .single aside #facebook-button:hover {
        background: url(../images/facebook.png) no-repeat 0 -26px; }
      #main .single aside #facebook-button:active {
        background: url(../images/facebook.png) no-repeat 0 -51px; }
    #main .single aside .pin-it-button {
      display: block;
      float: left;
      width: 45px;
      height: 25px;
      margin-top: 10px;
      margin-left: 5px;
      background: url(../images/pin.png) no-repeat 0 0; }
      #main .single aside .pin-it-button:hover {
        background: url(../images/pin.png) no-repeat 0 -26px; }
      #main .single aside .pin-it-button:active {
        background: url(../images/pin.png) no-repeat 0 -51px; }

footer {
  clear: both;
  height: 215px;
  background: #ff5e2e; }
  footer .newsletter {
    width: 370px;
    height: 120px;
    float: left;
    margin: 0px 0 0 40px; }
    footer .newsletter form {
      height: 37px;
      margin: 0; }
    footer .newsletter input[type=email] {
      border: none;
      width: 240px;
      height: 20px;
      border-radius: 0px;
      font-family: "old-standard",serif;
      font-style: normal;
      font-weight: 400;
      color: #cccccc;
      font-size: 14px;
      float: left; }
    footer .newsletter input[type=submit] {
      float: left;
      border: none;
      width: 95px;
      height: 37px;
      background: url(../images/signup-btn.png) no-repeat;
      margin: 0 0 0 13px;
      font-family: "futura-pt",sans-serif;
      font-style: normal;
      font-weight: 700;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 0.3em; }
    footer .newsletter p {
      clear: both;
      font-family: "old-standard",serif;
      font-style: normal;
      font-weight: 400;
      color: #fff;
      text-transform: none;
      font-size: 14px;
      letter-spacing: normal;
      margin: 0; }
  footer .lastword {
    width: 370px;
    height: 110px;
    float: right;
    margin: 0px 40px 0 0; }
    footer .lastword p {
      color: #fff;
      font-size: 40px;
      text-align: center;
      margin: 0;
      letter-spacing: 0.1em;
      font-family: "futura-pt",sans-serif;
      font-style: normal;
      font-weight: 700;
      text-transform: uppercase; }
  footer span p {
    clear: both;
    font-family: "futura-pt",sans-serif;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 10px;
    color: #000;
    letter-spacing: 0.2em;
    padding-top: 50px;
    margin-left: 40px; }

/* @group Classes
----------------------------------------------- */
img.alignright {
  margin: 0 0 2px 10px;
  display: inline;
  border: 3px solid #376092; }

img.alignleft {
  margin: 0 10px 2px 0;
  display: inline;
  border: 3px solid #376092; }

/* @end */
